 <!-- body-->
 <div class="bg-dark text-secondary px-9 py-5 text-center">
    <div class="">
      <img class="d-block mx-auto mb-4 rounded-circle" src="./assets/images/Camellando.gif" alt="Camellando"  height="230px">
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"> !Haz llegado al lugar donde podras cumplir con tus sueños¡</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button  routerLink="/components/resgister" type="button" class="btn btn-outline-danger btn-lg px-4 me-sm-3 fw-bold">¡Busco Empleo!</button>
          <button  routerLink="Register" type="button" class="btn btn-outline-light btn-lg px-4 ">¡Busco Candidatos!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Sobre nosotros</h2>
        <p class="lead">Somos una empresa creada para ayudar a encontrar empleo a toda la población Colombiana de manera mas facil</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Que Queremos</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <div class=" text-secondary px-9 py-5 text-center">         
    </div>
      </div>
    </div>

    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Atención Al cliente</h2>
          <p class="lead">Escribemos</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <div class=" text-secondary px-9 py-5 text-center"> 
          <img class="d-block mx-auto mb-6 rounded-circle" src="./assets/images/Felipe.png" alt="Andres Felipe Mogollón España" width="180">
      </div>
        </div>
      </div>
  </div>

  <div class="bg-dark text-secondary px-2 py-5 text-center">   
     <div class="row">
        <div class="col-lg-5 mx-auto">
             <h2 class="fw-normal">Andrés Felipe Mogollón España</h2>
            <p>Software Developer</p>
        </div>                
      </div>
  </div>

  
