<span class="ir-arriba icon-arrow-up2">
  <img class="d-block mx-auto mb-6 rounded-circle" src="./assets/images/Felipe.png" alt="Andres Felipe Mogollón España" width="180">


</span>

<!-- header-->

<div class="container site-header  bg-white">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2  mb-4 ">
      <a routerLink="Beginning" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
      <img src="./assets/images/Camello.png"  class="icon-camellando" alt="CameLLando" width="50px">
      <h3 class="text-danger fw-bold ">Came</h3><br><h3 class="text-dark fw-bold">LLando</h3> 
      </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
       <li><a (click)="moverseA('sobreNosotros')" style="cursor: pointer;" class="nav-link px-2 link-dark">Sobre nosotros</a></li>
      <li><a (click)="moverseA('Queremos')" style="cursor: pointer;"class="nav-link px-2 link-dark">Que Queremos</a></li>
      <li><a (click)="moverseA('recomendaciones')" style="cursor: pointer;" class="nav-link px-2 link-dark">Publicaciones de tu interés</a></li>
    </ul>

    <div class="col-md-3 text-center">
      <button type="button" class="btn btn-outline-dark me-2 m-1 " (click)="InicioSesion()" >Inicia Sesión</button>
     </div>
  </header>
</div>  


 <!-- body-->
 <div class="col-sm-12">
 <div class="row">
 <div class="bg-dark text-secondary px-9 py-5 text-center">
    <div class="">
      <img class="d-block mx-auto mb-4 rounded-circle" src="./assets/images/Camellando.gif" alt="Camellando"  height="230px">
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"> !Haz llegado al lugar donde podras cumplir con tus sueños¡</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button (click)="Empleo()" type="button" class="btn btn-outline-danger btn-lg px-4 me-sm-3 fw-bold">¡Busco Empleo!</button>
          <button (click)="Candidatos()" type="button" class="btn btn-outline-light btn-lg px-4 ">¡Busco Candidatos!</button>
        </div>
      </div>
    </div>
  </div>

  
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3" id="sobreNosotros">
        <h2 class="display-5 text-danger">Sobre nosotros</h2>
        <p class="lead ">Somos una empresa creada para ayudar a encontrar empleo a toda la población Colombiana de manera mas facil</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        
        <div class="col-md-12 p-5">
          <h4 class="bg-light text-dark col-lg-10 mx-auto  text-center"> Nuestra misión es convertirnos en mas que un software, que simplemente ayuda a encontrar trabajo, acompañar a las personas en esa nueva etapa de conseguir un empleo que se ajuste a sus perfiles, convirtiéndonos en una herramienta indispensable para conectar las empresas con las personas.</h4>
        </div>
      </div>        
    </div>

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3" id="Queremos">
        <h2 class="display-5 text-danger">Que Queremos</h2>
        <p class="lead">lograr sueños!</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <div class=" text-secondary px-9 py-5 text-center">         
    </div>
      </div>
    </div>

    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3" id="recomendaciones">
          <h2 class="display-5 text-danger mx-auto">Miles de ofertas de empleo están esperándote</h2>
          <p class="lead">Haz que tu currículum sea visible para miles de empresas en nuestra bolsa de trabajo</p>
        </div>
        <div class="bg-light shadow-sm mx-auto text-md-start p-1" style="width: 60%; height: 300px; border-radius: 21px 21px 0 0;">
          <br>
          <div class="d-flex col-md-10  px-5 py-2">
            <img src="./assets/icon/like.png"  class="icon-camellando" alt="CameLLando" width="35px" height="35">
            <br>
            <h5 class="fw-bold text-danger">Registro gratuito.</h5><h5 class="text-dark">Encuentra tu próximo trabajo hoy.</h5> 
          </div> 

          <div class="d-flex col-md-10  px-5 py-2">
            <img src="./assets/icon/like.png"  class="icon-camellando" alt="CameLLando" width="35px" height="35">
            <br>
            <h5 class="text-danger fw-bold "> Ofertas cada día.</h5><h5 class="text-dark"> Empleos que se ajustan a tu perfil.</h5> 
          </div> 

          <div class="d-flex col-md-10  px-5 py-2">
            <img src="./assets/icon/like.png"  class="icon-camellando" alt="CameLLando" width="35px" height="35">
            <br>
            <h5 class="text-danger fw-bold ">Completa tu perfil.</h5><h5 class="text-dark">Muéstrate profesional y ganarás visibilidad.</h5> 
          </div> 
        </div>
      </div>

    <!--  <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <div class=" text-secondary px-9 py-5 text-center"> 
          <img class="d-block mx-auto mb-6 rounded-circle" src="./assets/images/Felipe.png" alt="Andres Felipe Mogollón España" width="180">
      </div>
        </div>
      </div>-->
  </div>
</div>

 <!--  <div class="bg-dark text-secondary px-2 py-5 text-center">   
     <div class="row">
        <div class="col-lg-5 mx-auto">
             <h2 class="fw-normal">Andrés Felipe Mogollón España</h2>
            <p>Software Developer</p>
        </div>                
      </div>
  </div>-->
<!-- Back to top button -->
<button
        *ngIf="buttonTop == true"
        (click)="bTop()"
         type="button"
        class="btn btn-outline-danger btn-floating btn-lg"
        id="buttonTop"
        >
        <img src="./assets/icon/subir.png"  class="icon-camellando" alt="Subir" width="20px">
</button>


  
