 <!-- body-->
 <div class="bg-dark text-secondary px-9 py-5 text-center">
    <div class="">
      <img class="d-block mx-auto mb-4 rounded-circle" src="./assets/images/Camellando.gif" alt="Camellando"  height="230px">
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"> !Haz llegado al lugar donde podras cumplir con tus sueños¡</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button  routerLink="Register" type="button" class="btn btn-outline-danger btn-lg px-4 me-sm-3 fw-bold">¡Busco Empleo!</button>
          <button  routerLink="Register" type="button" class="btn btn-outline-light btn-lg px-4 ">¡Busco Candidatos!</button>
        </div>
      </div>
    </div>
  </div>

 