<!doctype html>
<html lang="en">
  <head>
    <title>Camellando</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
             <!-- header-->
             <div class="container site-header  bg-white">
              <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2  mb-4 ">
                  <a routerLink="Beginning" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
                  <img src="./assets/images/Camello.png"  class="icon-camellando" alt="CameLLando" width="50px">
                  <h3 class="text-danger fw-bold ">Came</h3><br><h3 class="text-dark fw-bold">LLando</h3> 
                  </a>
          
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                 <!--  <li><a href="" routerLink="Beginning" class="nav-link px-2 link-dark">Inicio</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">About</a></li>-->
                </ul>
          
                <div class="col-md-3 text-center">
                  <button type="button" class="btn btn-outline-dark me-2 m-1 " routerLink="Login">Inicia Sesión</button>
                  <button type="button" class="btn btn-dark m-1" routerLink="Register">Registrate</button>
                </div>
              </header>
            </div>  

            <router-outlet></router-outlet> 


   </body>
</html>