<!doctype html>
<html lang="en">
  <head>
    <title>Camellando</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
             <!-- header-->
             <div class="container">
              <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" routerLink="Beginning" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="./assets/images/Camello.png" alt="Came LLando" width="50px">
                </a>
          
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="" routerLink="Beginning" class="nav-link px-2 link-dark">Inicio</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                  <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                </ul>
          
                <div class="col-md-3 text-center">
                  <button type="button" class="btn btn-outline-dark me-2 m-1 " routerLink="Login">Iniciar Sesión</button>
                  <button type="button" class="btn btn-dark m-1" routerLink="Register">Registrarme</button>
                </div>
              </header>
            </div>  

            <router-outlet></router-outlet> 


   </body>
</html>